<%= content_for :blog_main do %>

<p id="notice"><%= notice %></p>

<div class="row">
<div class="col-md-7">
  <h1>Listing Blogs</h1>
    <p><i>Awesome blog posts.</i></p>

</div>
</div>

<div class="panel">
  <div class="panel-body">
    <!-- blog entries -->
    <div class="row">
      <% @blogs.each do |blog| %>
          <br>
          <div class="col-md-2 col-sm-3 text-center">
            <a href="#" class="story-img"><%= image_tag('people-1.jpg', size: '100x100', class: 'img-responsive img-circle') %></a>
        </div>
        <div class="col-md-10 col-sm-9">
            <h3><%= blog.title %> </h3>
            <div class="row">
              <div class="cols-xs-9">
                <p><%= truncate( blog.body , :length => 250 ) %></p>
                <p class="lead"><%= link_to 'Read More', blog,  :class => "btn btn-default" %></p>
                <p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
                <ul class="list-inline">
                  <li><%= time_ago_in_words(blog.created_at) %></li>
                  <li><i class="glyphicon glyphicon-comment"></i> <%= pluralize(blog.comments.size, 'comment') %></a></li>
                </ul>
              </div>
              <div class="col-xs-3"></div>
            </div>
          <br>
          <hr>
            </div>
          <% end %>
        </div>
    </div>
  </div>
<br>

<%= link_to 'New Blog', new_blog_path %>

<% end %>