<p id="notice"><%= notice %></p>

<h1>Listing Blogs</h1>

<div class="panel">
  <div class="panel-body">
    <!-- blog entries -->
    <div class="row">
      <% @blogs.each do |blog| %>
          <br>
          <div class="col-md-2 col-sm-3 text-center">
            <a href="#" class="story-img"><img class="img-circle" style="width:100px;height:100px" src="//placehold.it/100"></a>
        </div>
        <div class="col-md-10 col-sm-9">
            <h3><%= blog.title %> </h3>
            <div class="row">
              <div class="cols-xs-9">
                <p><%= blog.body %></p>
                <p class="lead"><%= link_to 'Read More', blog,  :class => "btn btn-default" %></p>
                <p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
                <ul class="list-inline">
                  <li><%= time_ago_in_words(blog.created_at) %></li>
                  <li><i class="glyphicon glyphicon-comment"></i> <%= pluralize(blog.comments.size, 'comment') %></a></li>
                </ul>
              </div>
              <div class="col-xs-3"></div>
            </div>
          <br>
          <hr>
            </div>
          <% end %>
        </div>
    </div>
  </div>
  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.summary %></td>
        <td><%= blog.body %></td>
        <td><%= blog.date_of_creation %></td>
        <td><%= blog.comments.size %></td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Comment', new_blog_comment_path(blog) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>
