<% content_for :blog_header do %>

    <p>
      <% if @blog.global %>
          <strong>This blog can be viewed by all</strong>
      <% else %>
          Only you can see this blog
      <% end %>
    </p>

    <h1><%= @blog.title %></h1>
        <p>Posted by <span class="glyphicon glyphicon-user"></span> <a href="#"><%= @blog.user.username %></a> on <span class="glyphicon glyphicon-time"></span> <%= @blog.created_at %>. Category <span class="glyphicon glyphicon-info-sign"></span><%= @blog.category.name %></p>
<% end %>


<% content_for :blog_main do %>
      <!-- Image -->
      <figure class="margin-b-2">
        <%= image_tag('nature-1.jpg', size: '900x400', class: 'img-responsive') %>
      </figure>

      <p class="lead"><%= @blog.summary %></p>
      <p><%= @blog.body %></p>



      <%= link_to 'Edit', edit_blog_path(@blog) %> |
      <%= link_to 'Back', blogs_path %>


    <div id="blog_ratings_count" >
        <%= render 'blog_ratings_count' %>
      </div>
      <% if @blog.user != current_user %>
          <h3>Rate Blog</h3>
          <div class="well">
            <%= form_for(@rating, remote: true) do |f|  %>

                <div class="field">
                  <%= f.label :rating %><br/>
                  <%= f.text_field :value %>
                </div>
                <div class="actions">
                  <%= f.submit %>
                </div>
            <% end %>
          </div>
    <% end %>

      <hr>

      <!-- Comments -->
      <h3>Comments</h3>
      <% @blog.comments.each do |comment| %>
      <div class="well">
        <div class="media">
          <div class="media-left">
            <%= image_tag('people-1.jpg', class: 'responsive-image', sie: '100x100') %>
          </div>
          <div class="media-body">
            <h4 class="margin-t-0"><a href="#"><%= comment.user.username %></a></h4>
            <p><a href="#"><%= comment.created_at %></a></p>
            <p><%= comment.body%></p>
            <p>
              <button class="btn btn-sm btn-default">
                <span class="glyphicon glyphicon-thumbs-up"></span> Upvote
              </button>
              <button class="btn btn-sm btn-default">
                <span class="glyphicon glyphicon-thumbs-down"></span> Downvote
              </button>
              <button class="btn btn-sm btn-default">
                <span class="glyphicon glyphicon-comment"></span> Reply
              </button>
            </p>
          </div>
        </div>
      </div>
          <hr>
    <% end %>


      <!-- Comment form -->
      <h3>Leave a comment</h3>
      <p>Please keep in mind that comments are moderated and rel="nofollow" is in use. So, please do not use a spammy keyword or a domain as your name, or else it will be deleted. Thank you!</p>
        <% if @comment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

          <ul>
            <% @comment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
      <div class="well">
          <%= form_for [@blog,@comment] do |f| %>
          <div class="field">
            <%= f.label "Comment" %><br>
            <%= f.text_area :body, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.submit class: "btn btn-default"%>
          </div>

          <%end%>
      </div>

    <hr>
    <!-- Pager -->
    <nav>
      <ul class="pager">
        <li class="previous"><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-menu-left"></span> Older</a></li>
        <li class="next"><a href="#">Newer <span aria-hidden="true" class="glyphicon glyphicon-menu-right"></span></a></li>
      </ul>
    </nav>


<% end %>

    <% content_for :right_side_bar do %>
      <!-- Search -->
      <div class="well">
        <h4 class="margin-t-0">Search</h4>
        <form action="#">
          <div class="input-group">
            <label for="search-form" class="sr-only">Search the site</label>
            <input type="text" id="search-form" class="form-control">
								<span class="input-group-btn">
									<button type="button" class="btn btn-default">
                                      <span class="glyphicon glyphicon-search"></span>
                                      <span class="sr-only">Search</span>
                                    </button>
								</span>
          </div>
        </form>
      </div>

      <!-- list group -->
      <div class="list-group margin-b-3">
        <a class="active list-group-item" href="#">Category 1</a>
        <a class="list-group-item" href="#">Category 2</a>
        <a class="list-group-item" href="#">Category 3</a>
      </div>

      <!-- Panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Sidebar panel widget</h4>
        </div>
        <div class="panel-body">
          <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>

      <!-- Panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Sidebar panel widget</h4>
        </div>
        <div class="panel-body">
          <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>

    </div>
  </div>
  <!-- /.row -->
<% end %>


