<% content_for :blog_header do %>
        <h1><%= @blog.title %></h1>
        <p>Posted by <span class="glyphicon glyphicon-user"></span> <a href="#"><%= @blog.user.username %></a> on <span class="glyphicon glyphicon-time"></span> <%= @blog.created_at %>. Category <span class="glyphicon glyphicon-info-sign"></span><%= @blog.category.name %></p>
<% end %>


<% content_for :blog_main do %>
      <!-- Image -->
      <figure class="margin-b-2">
        <img alt="" src="https://placeimg.com/900/400/nature" class="img-responsive">
      </figure>

      <p class="lead"><%= @blog.summary %></p>
      <p><%= @blog.body %></p>


      <div id="blog_ratings_count" >
        <%= render 'blog_ratings_count' %>
      </div>
      <% if @blog.user != current_user %>
          <h3>Rate Blog</h3>
          <div class="well">
            <%= form_for(@rating, remote: true) do |f|  %>

                <div class="field">
                  <%= f.label :rating %><br/>
                  <%= f.text_field :value %>
                </div>
                <div class="actions">
                  <%= f.submit %>
                </div>
            <% end %>
          </div>
    <% end %>

      <hr>

      <!-- Comments -->
      <h3>Comments</h3>
      <% @blog.comments.each do |comment| %>
      <div class="well">
        <div class="media">
          <div class="media-left">
            <img alt="" src="https://placeimg.com/100/100/people">
          </div>
          <div class="media-body">
            <h4 class="margin-t-0"><a href="#"><%= comment.user.username %></a></h4>
            <p><a href="#"><%= comment.created_at %></a></p>
            <p><%= comment.body%></p>
            <p>
              <button class="btn btn-sm btn-default">
                <span class="glyphicon glyphicon-thumbs-up"></span> Upvote
              </button>
              <button class="btn btn-sm btn-default">
                <span class="glyphicon glyphicon-thumbs-down"></span> Downvote
              </button>
              <button class="btn btn-sm btn-default">
                <span class="glyphicon glyphicon-comment"></span> Reply
              </button>
            </p>
          </div>
        </div>
      </div>
          <hr>
    <% end %>


      <!-- Comment form -->
      <h3>Leave a comment</h3>
      <p>Please keep in mind that comments are moderated and rel="nofollow" is in use. So, please do not use a spammy keyword or a domain as your name, or else it will be deleted. Thank you!</p>

      <div class="well">
        <form>
          <div class="form-group">
            <label for="contactName">Name</label>
            <input type="email" placeholder="Enter your name" id="contactName" class="form-control">
          </div>
          <div class="form-group">
            <label for="contactEmail">Email</label>
            <input type="email" placeholder="Enter email" id="contactEmail" class="form-control">
            <p class="help-block">Make sure you use a valid email address</p>
          </div>
          <div class="form-group">
            <label for="contactComment">Comment</label>
            <textarea id="contactComment" class="form-control"></textarea>
          </div>
          <button class="btn btn-default" type="submit">Submit</button>
        </form>
      </div>
      <hr>
    <% end %>

    <% content_for :right_side_bar do %>
      <!-- Search -->
      <div class="well">
        <h4 class="margin-t-0">Search</h4>
        <form action="#">
          <div class="input-group">
            <label for="search-form" class="sr-only">Search the site</label>
            <input type="text" id="search-form" class="form-control">
								<span class="input-group-btn">
									<button type="button" class="btn btn-default">
                                      <span class="glyphicon glyphicon-search"></span>
                                      <span class="sr-only">Search</span>
                                    </button>
								</span>
          </div>
        </form>
      </div>

      <!-- list group -->
      <div class="list-group margin-b-3">
        <a class="active list-group-item" href="#">Category 1</a>
        <a class="list-group-item" href="#">Category 2</a>
        <a class="list-group-item" href="#">Category 3</a>
      </div>

      <!-- Panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Sidebar panel widget</h4>
        </div>
        <div class="panel-body">
          <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>

      <!-- Panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Sidebar panel widget</h4>
        </div>
        <div class="panel-body">
          <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>

    </div>
  </div>
  <!-- /.row -->
<% end %>


