<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @blog.summary %>
</p>

<p>
  <strong>Body:</strong>
  <%= @blog.body %>
</p>

<p>
  <strong>Category:</strong>
  <%= @blog.category.name %>
</p>

<p>
  <strong>Date of creation:</strong>
  <%= @blog.date_of_creation %>
</p>

<p>
  <% if @blog.global %>
      <strong>This blog can be viewed by all</strong>
  <% else %>
      Only you can see this blog
  <% end %>
</p>

<div id="blog_ratings_count" >
    <%= render 'blog_ratings_count' %>
</div>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>


<% if @blog.user != current_user %>
     <h3>Rate Blog</h3>
    <%= form_for(@rating, remote: true) do |f|  %>

        <div class="field">
          <%= f.label :rating %><br/>
          <%= f.text_field :value %>
        </div>
        <div class="actions">
    <%= f.submit %>
        </div>
    <% end %>
<% end %>

