<p id="notice"><%= notice %></p>

<p>
  <strong>Blog:</strong>
  <%= @rating.blog.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @rating.user.username %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @rating.value %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
