<p id="notice"><%= notice %></p>

<h3>The <%= @category.name.capitalize %> Category</h3>
<a href="#">Blogs <span class="badge"><%= @category.blogs.count %></span></a>

<br/>
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>