<!DOCTYPE html>
<html>
<head>
  <title>Bitumen</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav role="navigation" class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">The Blog way</a>
    </div>
  <div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
    </div>
    <div>
    <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
          <li><p class="navbar-text ">
            Welcome, <%= current_user.username.capitalize %>
          </p></li>
          <li>
            <%= link_to "Log out", frontals_logout_path, method: :delete %>
          </li>
      <% end %>

    </ul>
  </div>

  </div>
</nav>
<div class="container">

  <%= yield %>
</div>

</body>
</html>
