<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <p id="notice"><%= notice %></p>

        <%= yield :blog_header %> <!--replaceable block for page header -->

      </div>
    </div>
  </div>


  <!-- /.row -->

  <div class="row">
    <div class="col-sm-8">
      <%= yield :blog_main %> <!-- replaceable block for blog main page -->
    </div>


    <div class="col-sm-4">
      <!-- Search -->
      <%= yield :right_side_bar %> <!-- replaceable block for blog side bar -->
    </div>
  </div>

</div>

<%= render template: "layouts/application" %>